@media only screen and (min-width: 1800px) {
    .pages_div {
        width: 30vh;
        line-height: 50px;
        font-size: 25px;
    }
    .nav .nav_wrapper {
        font-size: 20px;
        line-height: 50px;
        width: 125vh; }
        .header_logo-box {
            top: 300px;
            font-size: 45px;
        }
        .border_top {
            height: 60px;
        }
        #scroll_anchor {
            font-size: 20px;
            height: 50px;
            width: 50px;
            top: 850px;
        }



        #section_2 {
            height: 300px;;
        }
        #main_aboutparagraph {
            top: 1250px;
        }
        #main_aboutparagraph1 {
            top: 1400px;
        }
        #main_infoparagrapth {
            top: 1550px;
        }
        #main_infoparagrapth1 {
            top: 1600px;
        }



        .href_link-holder {
            line-height: 47px;
            font-size: 22px;
            width: 30vh;
        }
}