@media only screen and (min-width: 1800px) {
    .pages_div {
        width: 30vh;
        line-height: 1.5;
        font-size: 25px;
    }
    .nav .nav_wrapper {
        font-size: 20px;
        width: 130vh; }
        .header_logo-box {
            top: 550px;
            font-size: 25px;
        }
        .border_top {
            height: 60px;
        }
}