@media only screen and (min-width: 300px) {
    .nav {
        position: fixed;
        width: 100%;
        z-index: 69;
    }
    
    .nav .nav_wrapper {
        height: 40px;
        line-height: 0px;
        padding: 10 10px;
        font-size: 7px;
        
    }
    .border_top {
        position: absolute;
        top: 0;
        width: 100%;
        height: 40px;
    }
    #facebook_link {
        height: 100px;
        line-height: 40px;
        font-size: 6px;
        padding: 0 10px;
    }
    #facebook_link:hover {
        cursor: pointer;
    }
    #youtube_link {
        font-size: 6px;
        height: 100px;
        line-height: 40px;
        padding: 0 10px;
    }
    #youtube_link:hover {
        cursor: pointer;
    }
    #discord_link {
        font-size: 6px;
        height: 100px;
        line-height: 40px;
        padding: 0 10px;
    }
    #discord_link:hover {
        cursor: pointer;
    }


    .header_logo-box {
        position: absolute;
        top: 650px;
        left: 50%;
    }

    .download_btn {
        cursor: pointer;
        padding: 5px;
    }
    
    .download_btn:hover {
        background-color: rgb(255, 255, 255);
        color: #212121;
    }
}


@media only screen and (min-width: 500px) {
    .nav {
        position: fixed;
        width: 100%;
        z-index: 69;
    }
    
    .nav .nav_wrapper {
        height: 40px;
        line-height: 0px;
        padding: 10 10px;
        font-size: 7px;
        
    }
    .border_top {
        position: absolute;
        top: 0;
        width: 100%;
        height: 40px;
    }
    #facebook_link {
        height: 100px;
        line-height: 40px;
        font-size: 11px;
        padding: 0 10px;
    }
    #facebook_link:hover {
        cursor: pointer;
    }
    #youtube_link {
        font-size: 11px;
        height: 100px;
        padding: 0 10px;
    }
    #youtube_link:hover {
        cursor: pointer;
    }
    #discord_link {
        font-size: 11px;
        color: #ffffff;
        height: 100px;
        padding: 0 10px;
    }
    #discord_link:hover {
        cursor: pointer;
    }


    .header_logo-box {
        top: 650px;
        left: 50%;
    }

    .download_btn {
        cursor: pointer;
        padding: 5px;
    }
    
    .download_btn:hover {
        background-color: rgb(255, 255, 255);
        color: #212121;
    }
}

@media only screen and (min-width: 900px) {
    .nav {
        position: fixed;
        width: 100%;
        z-index: 69;
    }
    
    .nav .nav_wrapper {
        height: 40px;
        line-height: 0px;
        padding: 10 10px;
        font-size: 7px;
        
    }
    .border_top {
        position: absolute;
        top: 0;
        width: 100%;
        height: 40px;
    }
    #facebook_link {
        line-height: 40px;
        font-size: 15px;
        padding: 0 10px;
    }
    #facebook_link:hover {
        cursor: pointer;
    }
    #youtube_link {
        font-size: 15px;
        height: 100px;
        line-height: 40px;
        padding: 0 10px;
    }
    #youtube_link:hover {
        cursor: pointer;
    }
    #discord_link {
        font-size: 15px;
        height: 100px;
        line-height: 40px;
        padding: 0 10px;
    }
    #discord_link:hover {
        cursor: pointer;
    }


    .header_logo-box {
        top: 900px;
        left: 50%;
    }

    .download_btn {
        padding: 5px;
    }
    
    .download_btn:hover {
        background-color: rgb(255, 255, 255);
        color: #212121;
    }
}