/*(1920x1080) Full HD Display */
@media  screen and (min-width: 1920px) {
    body {
        height: 1100px;
        background-repeat: repeat;
        background-position: center;
        }
    #downoland_button {
        width: 375px;
        height: 72px;
        top: 700px;
        Left: 30%;
        font-size: 32px;
    }
    #Title_Game_Name {
        font-size: 100px;
        Left: 12%;
        top: 40%;
    }
    #discord_ico {
        width: 240px;
    }
    
}