html {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 0;
    margin: 0;
    width: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

.nav {
    position: fixed;
    width: 100%;
    z-index: 69;
    margin: 0;
    padding: 0;
}

.nav .nav_wrapper {
    display: block;
    height: 40px;
    width: 150vh;
    line-height: 0px;
    padding: 10 10px;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1.5px;
    float: left;
    -webkit-transition: height .4s ease,line-height .4s ease,margin .4s ease,padding .4s ease;
    -o-transition: height .4s ease,line-height .4s ease,margin .4s ease,padding .4s ease;
    transition: height .4s ease,line-height .4s ease,margin .4s ease,padding .4s ease;
    text-decoration: none;
    text-transform: uppercase;
    
}

.nav .nav_wrapper > * {
    padding: 4px;
    margin: 4px;
  
}
/*
#discord_ico {
    width: 70px;
}*/
.border_top {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.450);
    z-index: -1;
    top: 0;
    width: 100%;
    height: 45px;
}
#twitter_link {
    bottom: 0;
    height: 100px;
    line-height: 40px;
    padding: 0 22px;
    font-weight: 900;
    letter-spacing: 3px;
}
#twitter_link:hover {
    cursor: pointer;
    color: rgb(145, 250, 250);
}
#youtube_link {
    bottom: 0;
    height: 100px;
    line-height: 40px;
    padding: 0 22px;
    font-weight: 900;
    letter-spacing: 3px;
}
#youtube_link:hover {
    cursor: pointer;
    color: rgb(255, 139, 139);
}
#discord_link {
    bottom: 0;
    color: #ffffff;
    height: 100px;
    line-height: 40px;
    padding: 0 22px;
    font-weight: 900;
    letter-spacing: 3px;
}
#discord_link:hover {
    cursor: pointer;
    color: rgb(199, 199, 199);
}
/*
#facebook_ico {
    top: 0;
    width: 50px;
}*/
.first {
    float: left;
    padding: 5px;
    margin: 5px;
}
#name_logo {
    color: white;
    height: 100px;
    line-height: 30px;
    padding: 0 22px;
    font-weight: 900;
    letter-spacing: 3px;
    text-decoration: none;
}

.header {
    background-image: url("./resources/larutadelsorigens_firewatch-hd-wallpaper_1235598.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}

.header_logo-box {
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translate(-50%, -50%);
    align-content: center;
    text-align: center;
}

.main > * {
    background-color: #01002A;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    height: 100vh;
}

.download_btn {
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
    border: 1px solid white;
    transition: all .2s;
    color: white;
    text-decoration: none;
}

.download_btn:hover {
    background-color: rgb(255, 255, 255);
    color: #212121;
}

/* specifické upravy */
.section {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000032;
}
.section_1 {
    background-color: #000032;
    }

.section_2 {
    background-color: #000032;
    color: #000;
}
.section_3 {
    height: 70px;
    background-color: #010120;
    color: #000;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f3f3f3;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00005a;
  }
  
  /* Handle on hover */





















/* another pages */
.pages_div {

    height: 40px;
    width: 40vh;
    line-height: 40px;
    padding: 10 10px;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1.5px;
    float: left;
    -webkit-transition: height .4s ease,line-height .4s ease,margin .4s ease,padding .4s ease;
    -o-transition: height .4s ease,line-height .4s ease,margin .4s ease,padding .4s ease;
    transition: height .4s ease,line-height .4s ease,margin .4s ease,padding .4s ease;
    text-decoration: none;
    text-transform: uppercase;
}
#about_page {
    clear: both;
    text-decoration: none;
    color: white;
    z-index: 69;
    height: 100px;
    line-height: 0px;
    padding: 0 20px;
    font-weight: 900;
    letter-spacing: 3px;
    left: 100vh;
}
#about_page:hover {
    cursor: pointer;
    color: rgb(207, 205, 205);
}

.header_about {
    background-color: #000032;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}

.section_1_about {
    background-color: #000032;
}
.paragraph_div_about {
    z-index: 70;
    position: absolute;
    color: white;
    top: 250px;
    right: 45%;
}
#title_p_about {
    font-size: 40px;
    color: white;
}