html {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 0;
    margin: 0;
    width: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

.nav {
    position: fixed;
    width: 100%;
    z-index: 69;
    margin: 0;
    padding: 0;
}

.nav .nav_wrapper {

    display: block;
    height: 40px;
    width: 150vh;
    line-height: 42px;
    padding: 10 10px;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 1.5px;
    font-weight: 500;
    float: left;
    -webkit-transition: height .4s ease,line-height .4s ease,margin .4s ease,padding .4s ease;
    -o-transition: height .4s ease,line-height .4s ease,margin .4s ease,padding .4s ease;
    transition: height .4s ease,line-height .4s ease,margin .4s ease,padding .4s ease;
    text-decoration: none;
    text-transform: uppercase;
    
}

.nav .nav_wrapper > * {
    padding: 4px;
    margin: 4px;
  
}
/*
#discord_ico {
    width: 70px;
}*/
.border_top {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.486);
    z-index: -1;
    top: 0;
    width: 100%;
    height: 45px;
}
#twitter_link {
    bottom: 0;
    height: 100px;
    padding: 0 22px;
    letter-spacing: 3px;
}
#twitter_link:hover {
    cursor: pointer;
    color: rgb(200, 255, 255);
}
#youtube_link {
    bottom: 0;
    height: 100px;
    padding: 0 22px;
    letter-spacing: 3px;
}
#youtube_link:hover {
    cursor: pointer;
    color: rgb(255, 208, 208);
}
#discord_link {
    bottom: 0;
    color: #ffffff;
    height: 100px;
    padding: 0 22px;
    letter-spacing: 3px;
}
#discord_link:hover {
    cursor: pointer;
    color: rgb(209, 209, 209);
}
/*
#facebook_ico {
    top: 0;
    width: 50px;
}*/
.first {
    float: left;
    padding: 5px;
    margin: 5px;
}
#name_logo {
    color: white;
    height: 100px;
    line-height: 30px;
    padding: 0 22px;
    font-weight: 900;
    letter-spacing: 3px;
    text-decoration: none;
}

.header {
    background-image: url("./resources/FirefoxDark.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}

.header_logo-box {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    align-content: center;
    text-align: center;
}

.main > * {
    background-color: #01002A;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    height: 100vh;
}

.download_btn {
    letter-spacing: 0.5px;
    cursor: pointer;
    padding: 6px;
    background-color: transparent;
    border: 1px solid white;
    transition: all .2s;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
.download_btn {
    border-radius: 7px;
}
h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

.download_btn:hover {
    background-color: rgb(255, 255, 255);
    color: #212121;
}
.title_main_div {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    align-content: center;
    text-align: center;
}
/*
#main_title_h2 {
    transform: translate(-50%, -50%);
    top: 40px;
    left: 50%;
    position: absolute;
    font-size: 39px;
    font-weight: 700;
    letter-spacing: 2px;
}

#main_title_h3 {
    transform: translate(-50%, -50%);
    top: 159px;
    left: 20%;
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3px;
}*/
#main_title_h4 {
    transform: translate(-50%, -50%);
    top: 110px;
    left: 50%;
    position: absolute;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 3px;
}
/*
#planet1_link {
    color: rgb(168, 168, 255);
    transform: translate(-50%, -50%);
    top: 190px;
    left: 48%;
    position: absolute;
    font-size: 27px;
    font-weight: 700;
    text-decoration: none;
}
#planet1_link:hover {
    color: rgb(140, 140, 252);
}

#planet2_link {
    color: rgb(252, 118, 223);
    transform: translate(-50%, -50%);
    top: 190px;
    left: 62%;
    position: absolute;
    font-size: 27px;
    font-weight: 700;
    text-decoration: none;
}
#planet2_link:hover {
    color: rgb(253, 86, 217);
}
#Shinsetsu_span {
    color: white;
}
#planet1_span {
    padding: 10px;
    color: white;
}
*/
#scroll_anchor {
    cursor: pointer;
    padding: 6px;
    background-color: transparent;
    border: 1px solid white;
    transition: all .2s;
    color: white;
    text-decoration: none;

    transform: translate(-50%, -50%);
    top: 600px;
    left: 50%;
    position: absolute;
    font-size: 23px;
    font-weight: 700;
}
#scroll_anchor {
    border-radius: 7px;
}

#scroll_anchor:hover {
    background-color: rgb(255, 255, 255);
    color: #212121;
}



/* specifické upravy */
#section_0 {
    height: 90px;
    background-color: #130F1B;
    
}
#section_1 {
    height: 130px;
    background-color: rgb(23, 18, 32);
    }
#section_2 {
    height: 130px;
    background-color: #130F1B;
    }


/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(228, 228, 228);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(14, 24, 41);
  }
  
  /* Handle on hover */




















/* another pages */
.pages_div {
    height: 40px;
    width: 40vh;
    line-height: 44px;
    padding: 10 10px;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 400;
    float: left;
    -webkit-transition: height .4s ease,line-height .4s ease,margin .4s ease,padding .4s ease;
    -o-transition: height .4s ease,line-height .4s ease,margin .4s ease,padding .4s ease;
    transition: height .4s ease,line-height .4s ease,margin .4s ease,padding .4s ease;
    text-decoration: none;
    text-transform: uppercase;
}
#about_page {
    clear: both;
    text-decoration: none;
    color: white;
    z-index: 69;
    height: 100px;
    line-height: px;
    padding: 0 20px;
    letter-spacing: 3px;
    left: 100vh;
}
#about_page:hover {
    cursor: pointer;
    color: rgb(230, 230, 230);
}

.header_about {
    background-color: #121D31;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}

.section_1_about {
    background-color: #121D31;
}
.paragraph_div_about {
    z-index: 70;
    position: absolute;
    color: white;
    top: 250px;
    right: 45%;
}
#title_p_about {
    font-size: 40px;
    color: white;
}